# Factors that Affecting Student Performance

## Team Members

- Erhan Turan, turanerh20@itu.edu.tr, 090200759
- Yiğit Berk Sarıboğa, sariboga19@itu.edu.tr, 090190354

## Data Set Introduction

The dataset is a compilation of information about students academic success in mathematics. A wide range of characteristics, including demographic data, study habits, and social factors that could affect student performance, are included in the dataset. The data, which includes student demographic, social, and academic data, was gathered from two secondary schools in Portugal.

In [1]:
import pandas as pd

data = pd.read_csv('datasets\\student-mat.csv', header = 0, sep=';')
print(data.info()) # gathering info about data set in this cell.
data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB
None

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

The dataset contains 33 variables, including the following:

1 - school : student's school (binary: "GP" - Gabriel Pereira or "MS" - Mousinho da Silveira)

2 - sex : student's gender (binary: "F" - female or "M" - male)

3 - age : student's age (numeric: from 15 to 22)

4 - address : student's home address type (binary: "U" - urban or "R" - rural)

5 - famsize : family size (binary: "LE3" - less or equal to 3 or "GT3" - greater than 3)

6 - Pstatus : parent's cohabitation status (binary: "T" - living together or "A" - apart)

7 - Medu : mother's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)

8 - Fedu : father's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)

9 - Mjob : mother's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")

10 - Fjob : father's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")

11 - reason : reason to choose this school (nominal: close to "home", school "reputation", "course" preference or "other")

12 - guardian : student's guardian (nominal: "mother", "father" or "other")

13 - traveltime :home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)

14 - studytime : weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)

15 - failures : number of past class failures (numeric: n if 1<=n<3, else 4)

16 - schoolsup : extra educational support (binary: yes or no)

17 - famsup : family educational support (binary: yes or no)

18 - paid : extra paid classes within the course subject (Math) (binary: yes or no)

19 - activities : extra-curricular activities (binary: yes or no)

20 - nursery : attended nursery school (binary: yes or no)

21 - higher : wants to take higher education (binary: yes or no)

22 - internet : Internet access at home (binary: yes or no)

23 - romantic : with a romantic relationship (binary: yes or no)

24 - famrel : quality of family relationships (numeric: from 1 - very bad to 5 - excellent)

25 - freetime : free time after school (numeric: from 1 - very low to 5 - very high)

26 - goout : going out with friends (numeric: from 1 - very low to 5 - very high)

27 - Dalc : workday alcohol consumption (numeric: from 1 - very low to 5 - very high)

28 - Walc : weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)

29 - health : current health status (numeric: from 1 - very bad to 5 - very good)

30 - absences : number of school absences (numeric: from 0 to 93)

these are grades related with the course subject:

31 - G1 : first period grade (numeric: from 0 to 20)

32 - G2 : second period grade (numeric: from 0 to 20)

33 - G3 : final grade (numeric: from 0 to 20, output target)

- Grades (G3) will be our target variable.

#### Last 3 columns names will be changed for easier understanding and be compatible with syntax. (Other columns names are normal.)

In [2]:
data.rename(columns={'G1': 'FirstGrade', 'G2': 'SecondGrade', 'G3': 'FinalGrade'}, inplace=True)

#### We are checking if the data has missing values. (Determining that we need imputation or not for further actions.)

In [3]:
check = 0
for col in data.columns:
    missing_values = data[col].isna().sum()
    if missing_values > 0:
        print(f"Column '{col}' contains {missing_values} missing values.")
        check += 1

if check == 0:
    print("Columns do not contain missing values.") # do not need imputation for now
else:
    print("Columns contain missing values.")

Columns do not contain missing values.

#### We are checking unique variables for consistency.

In [4]:
unique_values = 0
for col in data.columns:
    unique_values = data[col].unique()
    print(f"Column '{col}' contains {unique_values} unique values.")
    unique_values = 0

Column 'school' contains ['GP' 'MS'] unique values.
Column 'sex' contains ['F' 'M'] unique values.
Column 'age' contains [18 17 15 16 19 22 20 21] unique values.
Column 'address' contains ['U' 'R'] unique values.
Column 'famsize' contains ['GT3' 'LE3'] unique values.
Column 'Pstatus' contains ['A' 'T'] unique values.
Column 'Medu' contains [4 1 3 2 0] unique values.
Column 'Fedu' contains [4 1 2 3 0] unique values.
Column 'Mjob' contains ['at_home' 'health' 'other' 'services' 'teacher'] unique values.
Column 'Fjob' contains ['teacher' 'other' 'services' 'health' 'at_home'] unique values.
Column 'reason' contains ['course' 'other' 'home' 'reputation'] unique values.
Column 'guardian' contains ['mother' 'father' 'other'] unique values.
Column 'traveltime' contains [2 1 3 4] unique values.
Column 'studytime' contains [2 3 1 4] unique values.
Column 'failures' contains [0 3 2 1] unique values.
Column 'schoolsup' contains ['yes' 'no'] unique values.
Column 'famsup' contains ['no' 'yes'] unique values.
Column 'paid' contains ['no' 'yes'] unique values.
Column 'activities' contains ['no' 'yes'] unique values.
Column 'nursery' contains ['yes' 'no'] unique values.
Column 'higher' contains ['yes' 'no'] unique values.
Column 'internet' contains ['no' 'yes'] unique values.
Column 'romantic' contains ['no' 'yes'] unique values.
Column 'famrel' contains [4 5 3 1 2] unique values.
Column 'freetime' contains [3 2 4 1 5] unique values.
Column 'goout' contains [4 3 2 1 5] unique values.
Column 'Dalc' contains [1 2 5 3 4] unique values.
Column 'Walc' contains [1 3 2 4 5] unique values.
Column 'health' contains [3 5 1 2 4] unique values.
Column 'absences' contains [ 6  4 10  2  0 16 14  7  8 25 12 54 18 26 20 56 24 28  5 13 15 22  3 21
  1 75 30 19  9 11 38 40 23 17] unique values.
Column 'FirstGrade' contains [ 5  7 15  6 12 16 14 10 13  8 11  9 17 19 18  4  3] unique values.
Column 'SecondGrade' contains [ 6  5  8 14 10 15 12 18 16 13  9 11  7 19 17  4  0] unique values.
Column 'FinalGrade' contains [ 6 10 15 11 19  9 12 14 16  5  8 17 18 13 20  7  0  4] unique values.

We can say that our columns are consistent.

#### We are calculating summary statistics for variables in the data set.

In [5]:
# numeric variables only
data.describe().round(2)

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,FirstGrade,SecondGrade,FinalGrade
count,395.00,395.00,395.00,395.00,395.00,395.00,395.00,395.00,395.00,395.00,395.00,395.00,395.00,395.00,395.00,395.00
mean,16.70,2.75,2.52,1.45,2.04,0.33,3.94,3.24,3.11,1.48,2.29,3.55,5.71,10.91,10.71,10.42
std,1.28,1.09,1.09,0.70,0.84,0.74,0.90,1.00,1.11,0.89,1.29,1.39,8.00,3.32,3.76,4.58
min,15.00,0.00,0.00,1.00,1.00,0.00,1.00,1.00,1.00,1.00,1.00,1.00,0.00,3.00,0.00,0.00
25%,16.00,2.00,2.00,1.00,1.00,0.00,4.00,3.00,2.00,1.00,1.00,3.00,0.00,8.00,9.00,8.00
50%,17.00,3.00,2.00,1.00,2.00,0.00,4.00,3.00,3.00,1.00,2.00,4.00,4.00,11.00,11.00,11.00
75%,18.00,4.00,3.00,2.00,2.00,0.00,5.00,4.00,4.00,2.00,3.00,5.00,8.00,13.00,13.00,14.00
max,22.00,4.00,4.00,4.00,4.00,3.00,5.00,5.00,5.00,5.00,5.00,5.00,75.00,19.00,19.00,20.00

With the help of this part above, we can say that the data does not have meaningless, contradictory variables and data types are consistent too, so we do not need the take out any variable from data for now.

## Description of the Problem

We were interested in examining the variables that may have an impact on the academic performance of high school students.

Some possible research questions:

- What are the effects of socioeconomic status and family background on the academic performance of high school students?

- Which factors are most crucial for students to be successful in high school?

- Are there any gender differences in academic performance and what factors may explain these differences?

- How does a student's academic achievement differ depending on how much time they spend studying?

- Do students who participate in extracurricular activities perform better academically than those who do not?

- Based on their demographic data and study habits, can machine learning algorithms predict students' academic achievement?

- What interventions or support systems can be put in place to improve the academic performance of students who are at risk of falling behind?

## Methodologies

- Regression analysis: This can be use for determining the relationships between multiple variables, including socioeconomic status, study habits, and academic achievement.

- Cluster analysis: This can be used to group students based on demographic information, study habits, and social factors to determine which factors are most important for student success.

- Machine learning algorithms: These can be used to predict student academic performance based on their demographic information and study habits.

- Data visualization techniques: These can be used to explore the relationships between variables and to identify patterns or trends in the data.

- Feature selection: This method can be used to identify the most important variables to predict academic performance and to remove less important variables to simplify the model.

- Multicollinearity: This can be used when the predictor variables in the regression model are highly correlated, making it difficult to determine the independent effects of each variable. To address the Multicolinearity regarding student characteristics, techniques such as variance inflation factor (VIF) analysis can be used to identify and eliminate highly correlated variables.

- Encoding:
    - a. Categorical variables can be encoded using techniques such as one-shot encoding, label encoding or binary encoding.
    - b. Numerical variables can be normalized using techniques such as min-max scaling or standard scaling.
    - c. Dimensionality reduction techniques such as principal component analysis (PCA) can be used to reduce the number of features in the dataset.

- Classification:
    - a. The target variable to be predicted can be identified. For example, we can predict whether a student will pass or fail the final exam.
    - b. The dataset can be divided into training and testing sets.
    - c. Various classification algorithms such as logistic regression, decision tree or random forest can be used to train the model
    - d. The performance of the model can be evaluated using metrics such as accuracy, precision, recall, F1 score and ROC curve.

- Regularization:
    - a. It can be determined which variables are the most important when predicting the target variable. We can use feature selection techniques such as L1 regularization or recursive feature elimination.
    - b. Regularization techniques such as L1 or L2 regularization can be used to penalize the coefficients of the model and prevent overfitting.
    - c. The regularization parameter can be adjusted using cross-validation techniques such as k-fold cross-validation to improve the performance of the model.

## Data Exploration

- Data inspection: Examined the data set to get a general understanding of the data, such as the size of the data set, the number of variables, and the type of variables.
- Descriptive statistics: Calculated summary statistics for variables in the data set, such as mean, median, standard deviation, and minimum/maximum values.
- Checking for missing values: Identified missing values in the data set.
- Checking for unique values: Identified unique values for every column.
- Checking for relationships between variables: Determined the relationships between variables.
- Detecting anomalies: Identified and understanded the effect of abnormal or outlier values in the data set.

## Work Distribution

- Finding Data . Erhan Turan and Yiğit Berk Sarıboğa 
- Data Cleaning.  Erhan Turan.
- Data Set Introduction. Erhan Turan and Yiğit Berk Sarıboğa
- Description of Problem. Yiğit Berk Sarıboğa
- Methodologies. Yiğit Berk Sarıboğa
- Data Exploration. Erhan Turan
- Final Review. Erhan Turan and Yiğit Berk Sarıboğa

## References

- https://archive-beta.ics.uci.edu/dataset/320/student+performance (dataset)
- MAT388E-Spring23/Lecture_Materials git repository which is created and contributed by [Gul Inan](https://gulinan.github.io/)

In [6]:
import session_info
session_info.show()